/* src/app/layout/main-layout/main-layout.component.css */

/* هيكل الصفحة الرئيسية: Sidebar على اليسار والمحتوى على اليمين */
.main-wrapper {
  display: flex;
  height: 100vh; /* لملء ارتفاع الشاشة */
  background-color: #f7f9fc; /* لون خلفية فاتح للمحتوى */
}

/* القسم الذي سيحتوي على الهيدر والمحتوى الديناميكي */
.content-wrapper {
  flex-grow: 1; /* يشغل المساحة المتبقية */
  display: flex;
  flex-direction: column;
}

/* تنسيق المساحة الداخلية للمحتوى */
.main-content {
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto; /* لتمكين التمرير إذا كان المحتوى طويلاً */
}