.modal-container {
  padding: 24px;
  border-radius: 16px;
  background: #fff;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
}

.header-icon {
  width: 45px;
  height: 45px;
  background: #f0f7ff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3b82f6;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 16px;
}

.balance-strip {
  background: #f1f5f9;
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 24px;
}

.balance-amount {
  color: #10b981;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  color: #64748b;
  margin-bottom: 8px;
}

.custom-input, .custom-textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  background: #fff;
  outline: none;
}

.custom-input.disabled {
  background: #edf2f7;
  color: #94a3b8;
}

.custom-textarea {
  height: 80px;
  resize: none;
}

.modal-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 24px;
}

.btn-cancel {
  padding: 12px;
  border: 1px solid #3b82f6;
  background: transparent;
  color: #3b82f6;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.btn-execute {
  padding: 12px;
  border: none;
  background: linear-gradient(90deg, #93c5fd, #60a5fa);
  color: white;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.btn-execute:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.close-btn{
    background: none;
    border: none;
    font-size: 24px;
    color: #9ca3af;
    cursor: pointer;
}